[Desktop Entry]
Type=Application
Name=Wine Prefix Manager
Comment=Manage Wine prefixes with ease
Exec=wine_prefix_manager
Icon=wine_prefix_manager
Categories=System;Utility;
Terminal=false
StartupNotify=true
X-AppImage-Version=3.3.1
