[Desktop Entry]
Type=Application
Name=Wine Prefix Manager
Exec=wine_prefix_manager
Icon=wine_prefix_manager
Comment=Manage Wine prefixes and games with ease
Categories=Utility;System;Game;
StartupNotify=true
